{{define "friendstatus"}}
    {{if .Friendship}}
        {{if eq .Friendship.State.Name "approved"}}
            <div><span>Вы друзья!</span></div>
        {{else}}
            <div><span>Заявка в друзья на рассмотрении</span></div>
        {{end}}
    {{else}}
        <div><button id="addFriendButton" data-friend="{{.FriendDetails.PersonId}}">Добавить в друзья</button></div>
    {{end}}
{{end}}