{{template "base" .}}

{{define "title"}}Список друзей{{end}}

{{define "main"}}
    {{if .IncomingFriends}}
        <h2>Заявки в друзья</h2>
        <table>
            <tr>
                <th>ФИО</th>
                <th></th>
            </tr>
            {{range .IncomingFriends}}
                <tr>
                    <td><a href="/personal?id={{.PersonDetails.PersonId}}">{{.PersonDetails.Fullname}}</a></td>
                    <td>{{template "friendstatus" .}}</td>
                </tr>
            {{end}}
        </table>
    {{end}}

    {{if .Friends}}
        <h2>Список друзей</h2>
        <table>
            <tr>
                <th>ФИО</th>
                <th></th>
            </tr>
            {{range .Friends}}
                <tr>
                    <td><a href="/personal?id={{.FriendDetails.PersonId}}">{{.FriendDetails.Fullname}}</a></td>
                    <td>{{template "friendstatus" .}}</td>
                </tr>
            {{end}}
        </table>
    {{end}}
{{end}}