{{template "base" .}}

{{define "title"}}Пользователь {{.Personal.Fullname}}{{end}}

{{define "main"}}
<div class="personal">
        <strong>{{.Personal.Fullname}}</strong>
        <p>Дата рождения: {{.Personal.Birthdate.Format "2006-01-02" }}</p>
        <p>Пол: {{.Personal.Gender}}</p>
        <p>Город: {{.Personal.City}}</p>
        <p>Интересы: {{.Personal.Interests}}</p>
</div>
<div class="friends">
        {{if .User.Authenticated}}
                {{if ne .User.PersonalId .Personal.Id}}
                        {{template "friendstatus" .FriendPersonal}}
                {{end}}
        {{end}}
</div>
{{end}}